output "LG Electronics LG TV SSCR2 0x01010101" {
    mode "3840x2160@119.880"
    scale 2
    position x=0 y=0
}
output "LG Electronics LG FULL HD 0x01010101" {
    off
}
output "ASUSTek COMPUTER INC XG27AQDMGR TCLMTF153657" {
    off
}
